.cardss{
    background-color: burlywood;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.mb-3, .forms{
    background-color: beige;
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
}